* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Navbar*/

.nav {
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pattaya', sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #f2f2f2;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #9453a6;

}

.nav>.nav-links>a:hover {
    /* background-color: #0d0d0d; */
    color: #f2cc0f;

}

.nav>#nav-check {
    display: none;

}

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #b9b9b9;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #0d0d0d;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #b9b9b9;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav-title {
        width: 10px;
        height: 40;
    }


}


/*The end of The Navbar*/


/*Contact*/
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg);
    background-size: cover;
    font-family: 'Henny Penny', cursive;
    background-image: linear-gradient(to top, #9453a6 0%, #f2cc0f 100%);
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 40px;
    font-weight: 500;
    color: #0d0d0d;
}


.contact .content p {
    font-weight: 300;
    color: #0d0d0d;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;


}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;

}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #bbbebe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}



.contactForm {
    width: 50%;
    padding: 40px;
    background-color: #9453a6;
    border-radius: 50px;
}

.contactForm h2 {
    font-size: 30px;
    color: #0d0d0d;
    font-weight: 500;

}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #0d0d0d;
    outline: none;
    resize: none;
    /* background-image: linear-gradient(to top, #9453a6 0%, #f2cc0f 100%); */
    background-color: #f2cc0f;
    color: #0d0d0d;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    font-family: 'Roboto', sans-serif;

}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #0d0d0d;
    font-size: 12px;
    transform: translateY(-20px);

}

.contactForm .submit [type="submit"] {
    width: 100px;
    background: #f2cc0f;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;

}

.submit {
    width: 0%;
    padding: 0%;
}

.contactForm .submit:hover [type="submit"] {
    /* background-image: linear-gradient(to top, #b721ff 0%, #ecfd00 100%); */
    background-color: #f2cc0f;


}

.contactForm .reset [type="reset"] {
    width: 100px;
    background: #f2cc0f;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    left: 14rem;
    bottom: 2.5rem;

}

.reset {
    width: 0%;
    padding: 0%;
}

.contactForm .reset:hover [type="reset"] {
    /* background-image: linear-gradient(to top, #b721ff 0%, #ecfd00 100%); */
    background-color: #f2cc0f;


}

@media(max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }

    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
}

/*The end of The Contact*/

/*POOTER*/
.footer__container {
    /* background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);*/
    background-color: #0d0d0d;
    /* width: 100%;*/
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #f2f2f2;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    float: left;


}

.footer__link--items h2 {
    margin-bottom: 16px;

}

.footer__link--items>h2 {
    color: #f2f2f2;
}

.footer__link--items a {
    color: #f2f2f2;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {

    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #f2cc0f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent
}

.footer__link--items a:hover {
    color: #f2f2f2;
    transition: 0.3 ease-out;
}

.social__icon--link {
    color: #f2f2f2;
    font-size: 24px;

}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto auto;

}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #f2f2f2;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights p {
    color: #f2f2f2;

}

.website__rights {
    margin-bottom: 2rem;
    color: #f2f2f2;
    position: relative;
    top: 1rem;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .main__btn {
        display: grid;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        left: -1rem;
        width: 22vw;
    }

    #footer__logo:hover {
        background-color: #ff8177;
        background-image: linear-gradient(to top, #ff0844 0%, #f2cc0f 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        cursor: pointer;
        text-decoration: none;
        transition: background-image 1.5s ease
    }

    .footer__link--items a:hover {

        background-color: #ff8177;
        background-image: linear-gradient(to top, #9453a6 0%, #f2cc0f 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }

    .website__rights {
        margin-bottom: 2rem;
        color: #f2f2f2;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {}
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .footer__link--items a:hover {

        background-color: #ff8177;
        background-image: linear-gradient(to top, #9453a6 0%, #f2cc0f 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent
    }
}


.site-footer {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#social-wrapper {
    text-align: center;
    text-decoration: none !important;

}

.social-wrapper li::before {
    content: "";
}

/*מדייה חברתית סמלים*/
.social-wrapper {
    text-align: center;

}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon {
    margin-top: .625em;
    width: 40px;
    height: 30px;
    opacity: .6;
    filter: alpha(opacity=60);
    border-radius: 10px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.footer-nav p {
    text-align: center;
}

#footer__logo:hover {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #f2cc0f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: background-image 1.5s ease
}

/*The end of The POOTER*/


/*input Text*/

.sendS {
    font-family: 'Henny Penny', cursive;

}

.name1 {
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.email1 {
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;

}

.massage1 {
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;

}

/*The enf of The input Text*/